<!DOCTYPE html>
<html>
  <head>
    <title>DownTheAisle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
        <%= link_to 'Dashboard', user_weddings_path(current_user) %>
        <%= link_to 'New Wedding', new_user_wedding_path(current_user) %>
        <%= link_to 'Logout', logout_path %>
      <% else %>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <%= link_to "Sign Up", signup_path %>
        <%= link_to "Log In", login_path %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
